* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma;
    background: #f3f4f6;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.login-box {
    background: white;
    padding: 35px;
    width: 100%;
    max-width: 360px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    animation: fadeIn 0.6s ease;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.subtitle {
    color: #888;
    font-size: 14px;
    margin-bottom: 20px;
}


/* INPUT */
.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.input-group i:first-child {
    left: 12px;
}

.toggle-password {
    right: 12px;
    cursor: pointer;
}

.input-group input {
    width: 100%;
    padding: 12px 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
}



.input-group input:focus {
    border-color: #6366f1;
    box-shadow: 0 0 6px rgba(99,102,241,0.3);
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #6366f1;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #4f46e5;
    transform: translateY(-1px);
}

button:active {
    transform: scale(0.97);
}

/* FORGOT */
.forgot {
    margin-top: 15px;
    font-size: 13px;
    color: #6366f1;
    cursor: pointer;
}

.forgot:hover {
    text-decoration: underline;
}

/* ERROR */
#error {
    margin-top: 10px;
    font-size: 13px;
    color: red;
}

/* THEME BUTTON */
.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}



